{% extends 'main/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            {{ render(controller('App\\Controller\\EmbedController::showLastNews')) }}
        </div>
        <div class="col-8">
        </div>
    </div>
{% endblock %}