<header>
   header
   <a href="{{ path('main_homepage') }}">Home</a>
   <a href="{{ path('main_registration') }}">Register</a>
   <a href="{{ path('main_login') }}">Login</a>
   <a href="{{ path('main_logout') }}">Log Out</a>
</header>