{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4 shadow p-3">
            <form method="post">
                <h3>Please sign in</h3>
                <label for="inputEmail" class="mb-3">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
                       autocomplete="email" required autofocus>
                <label for="inputPassword" class="mb-3">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                       autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{#
<div class="checkbox mb-3">
    <label>
        <input type="checkbox" name="_remember_me"> Remember me
    </label>
</div>
#}
                <a href="{{ path('forgot_password_request') }}">
                    <small>Reset password?</small>
                </a>
                <hr>
                <button class="btn btn btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
    {% if error|length %}
        <div class="alert alert-warning text-center mt-5">
            {{ error.message }}
        </div>
    {% endif %}
{% endblock %}
