{% extends 'main/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4 shadow">
            <form method="post">
                <h3>Please sign in</h3>
                <label for="inputEmail" class="mb-3">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
                <label for="inputPassword" class="mb-3">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
#}
                <button class="btn btn btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}
