{% if categories|length %}
    {% for category in categories %}
        <div class="mx-3 my-3">
            <a href="{{ path('news_category', {'id' : category.id}) }}">{{ category.name }}</a>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No categories for now</p>
{% endif %}
